---
layout: index
title: "天道酬勤"
---

{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}
<div class="r weather">
    <iframe allowtransparency="true" frameborder="0" width="877" height="100" scrolling="no"
            src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=1&v=0&d=5&bd=1&k=000000&f=&ltf=009944&htf=cc0000&q=1&e=1&a=1&c=54511&w=877&h=100&align=center"></iframe>
</div>
<!-- Loop output paged posts -->
{% for post in paginator.posts %}
<h3 style="height: 25px; line-height: 20px; margin-top: -5px; margin-bottom: 0px;">
    <a href="{{ post.url }}">
        {{ post.title }}
    </a>
    <div class="post-date" style="line-height: 26px">
        <span class="glyphicon glyphicon-time"></span>
        {{ post.date | date:"%Y-%m-%d" }}
    </div>
</h3>
<hr>
{{ post.excerpt }}
<p><h5><a href="{{ post.url }}">阅读全文 &raquo;</a></h5></p>
<hr>
{% endfor %}

<!-- Pager indicator -->
<ul class="pager">
    {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
    <li class="previous">
        <a href="/">
            &larr; 上一页
        </a>
    </li>
    {% else %}
    <li class="previous">
        <a href="/posts/page{{ paginator.previous_page }}/index.html">
            &larr; 上一页
        </a>
    </li>
    {% endif %} {% endif %} {% if paginator.next_page %}
    <li class="next">
        <a href="/posts/page{{ paginator.next_page }}/index.html">
            下一页 &rarr;
        </a>
    </li>
    {% endif %}
</ul>

<!--<div style="margin:0px auto;text-align: center">-->
<!--{% if paginator.total_pages > 1 %}-->
<!--<ul class="pagination">-->
<!--{% if paginator.previous_page %}-->
<!--<li>-->
<!--<a href="{{ category_path | append : paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;-->
<!--Prev</a>-->
<!--</li>-->
<!--{% else %}-->
<!--<li>-->
<!--<span>&laquo; Prev</span>-->
<!--</li>-->
<!--{% endif %}-->

<!--{% for page in (1..paginator.total_pages) %}-->
<!--{% if page == paginator.page %}-->
<!--<li class="active">-->
<!--<span>{{ page }}</span>-->
<!--</li>-->
<!--{% elsif page == 1 %}-->
<!--<li>-->
<!--<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>-->
<!--</li>-->
<!--{% else %}-->
<!--<li>-->
<!--<a href="{{ site.paginate_path | append : '.html' | prepend: site.baseurl | replace: ':num', page }}">{{-->
<!--page }}</a>-->
<!--</li>-->
<!--{% endif %}-->
<!--{% endfor %}-->

<!--{% if paginator.next_page %}-->
<!--<li>-->
<!--<a href="{{ paginator.next_page_path | append : '.html' | prepend: site.baseurl | replace: '//', '/' }}">Next-->
<!--&raquo;</a>-->
<!--</li>-->
<!--{% else %}-->
<!--<li>-->
<!--<span>Next &raquo;</span>-->
<!--</li>-->
<!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->
<!--</div>-->