<ul class="list-unstyled">
    <li>
        <a href="http://www.zzhub.cn">
            富贵险中求佛的博客
        </a>
    </li>
    <li>
        <a href="https://charles.weii.ink"><!-- 请保留友情链接，please remain as friend link-->
            博客
        </a>
    </li>
    <li>
        <a href="https://www.toutiao.com/c/user/61042120395/#mid=1574431805603853" target="_blank">
            我的头条
        </a>
    </li>
    <li>
        <a href="https://blog.weii.ink/" target="_blank">
            wilson's bolg
        </a>
    </li>
    <li>
        <a href="/links.html">
            交换友情链接
        </a>
    </li>
</ul>
