<div id="mobile4">
    <div class="wtleft">
        <div class="wtname"><a href="//www.tianqi.com/data/html/code_city.php" title="修改城市"><strong
                style="line-height:18px; font-family:'微软雅黑'">北京</strong></a></div>
        <div class="order"><a title="北京最近七天天气详情" href="http://beijing.tianqi.com/?tq" target="_blank"
                              style=" font-family:'微软雅黑'">七日天气</a></div>
    </div>

    <a target="_blank" href="http://beijing.tianqi.com/?tq" title="多云">
        <div class="wt" id="day_1">
            <div class="wtpic"><img class="pngtqico" align="absmiddle"
                                    src="http://plugin.tianqistatic.com/static/images/tqicon1/b1.png"
                                    style="border:0;width:46px;height:46px"></div>
            <div class="wt1">
                <div class="wtline"><strong style="font-family:'微软雅黑'">今天</strong></div>
                <div class="wtline" style="font-family:'微软雅黑'">22～33℃</div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://beijing.tianqi.com/?tq" title="雷阵雨">
        <div class="wt" id="day_2">
            <div class="wtpic"><img class="pngtqico" align="absmiddle"
                                    src="http://plugin.tianqistatic.com/static/images/tqicon1/b4.png"
                                    style="border:0;width:46px;height:46px"></div>
            <div class="wt1">
                <div class="wtline"><strong style="font-family:'微软雅黑'">明天</strong></div>
                <div class="wtline" style="font-family:'微软雅黑'">19～28℃</div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://beijing.tianqi.com/?tq" title="晴">
        <div class="wt" id="day_3">
            <div class="wtpic"><img class="pngtqico" align="absmiddle"
                                    src="http://plugin.tianqistatic.com/static/images/tqicon1/b0.png"
                                    style="border:0;width:46px;height:46px"></div>
            <div class="wt1">
                <div class="wtline"><strong style="font-family:'微软雅黑'">后天</strong></div>
                <div class="wtline" style="font-family:'微软雅黑'">20～35℃</div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://beijing.tianqi.com/?tq" title="多云"></a>
    <a target="_blank" href="http://beijing.tianqi.com/?tq" title="雷阵雨"></a>

</div>